<!doctype html>
{% load static %}


<!-- '''Copyright notice..
The work, code and algorithm belongs to team Dev.ino .The team must be acknowledged for use of any portion of the project/code . The team Dev.ino reserves all rights on the code and the dataset .
We would be happy to mention https://github.com/ieee8023/covid-chestxray-dataset for their dataset for Chest X-Ray model creation

Team Dev.ino
Developers
Krishna Ojha
Ekta Arora
'''
 -->

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>CORONtine</title>
            <link rel = "icon" href = "{% static 'images/imgs/CORONtine(icon).png' %}" type = "image/x-icon">
            <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="{% static 'style2.css' %}">

</head>

<body>
<div class="image-box">
<div
    class="image-box__background"
<div
    class="image-box__background" style="--image-url: url('imgs/bg2.png')"></div>
    <div class="image-box__overlay"></div>
    <div class="image-box__content">
    <h1 style= "margin-top: -25%"; font-family: 'Baloo 2', cursive;">You need to be Quarantined.!</h1>
    <div id="warning">
        <img class="bottom" src="{% static 'images/imgs/quarantine.png' %}" width="300px" style="margin-top: -10%;">
    </div>
</div>
</div>

    <script src="js/scripts.js"></script>
</body>
</html>
</html>
