.image-box {
    position: relative;
}

.image-box__background,
.image-box__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.image-box__background {
    background: var(--image-url) center center no-repeat;
    opacity: 0.7;
    background-size: cover;
    z-index: 1
}

.image-box__overlay {
    background: rgba(0, 0, 0, 0.5);

    z-index: 2;
}

.image-box__content {
    position: relative;

    z-index: 3;

    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 350px;
    width: 350px;

}
.image-box {
    position: relative;
}

.image-box__background,
.image-box__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.image-box__background {
    background: var(--image-url) center center no-repeat;
    opacity: 0.7;
    background-size: cover;
    z-index: 1
}

.image-box__overlay {
    background: rgba(0, 0, 0, 0.5);

    z-index: 2;
}

.image-box__content {
    position: relative;

    z-index: 3;

    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 350px;
    width: 350px;
}
